:root{
    --grey: #b1b1b1;
    --lightgrey: #c4c4c4;
    --midlight: #ebebeb;
    --light: #ffffff;
    --dark: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    color: #000000;
    /* height: 100vh; */
    width: auto;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--light);
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: 30px;
    height: 80px;
}
header > ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    list-style: none;
    color: var(--dark);
    text-decoration: none;
    padding-left: 0!important;
}
main{
    margin-top: 50px;
}
a{
    text-decoration: none!important; 
    list-style: none;
    color: #000000!important;
}

footer{
    background-color: #c4c4c4;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed end;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.logof{
    border-radius: 49%;
    width: 50px;
    

}

#logo-footer{
    padding-top: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#direitos{
    margin: 15px;
}
#navitens{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

#logox{
    width: 70px;
}

section{
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.ddItem{
    position: absolute;
    background-color: var(--light);
    display: none; 
    z-index: 1;
    
}
#dd1{
    left: 35px;
}
.ddItem a {
    display: block;
    background-color: var(--light);
    justify-content: center;
    text-align: center;
    padding: 5px;
    position: relative;
    padding-top: 5px;
    margin-right: 0px;
    right: 30px;
   
}

#homeimg{
    width: 200px;
}

#navlogo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#navlogo > img{
    width: 50px;
    
}
#promos{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.616);
    background-image: url(imagens/pexels-nikolaos-dimou-1319460.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}

#inico{
    width: 100%;
    font-family: 'Pirata One', cursive;
    padding: 0;
    margin: 0;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#banner{
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

li a:hover{
    background-color: var(--light)!important;
    color: var(--dark)!important;
    color: rgb(150, 139, 76)!important;
}
.dropdown{
    position: relative;
}

.dropdown:hover .ddItem{
    display: block!important;
    background-color: var(--light)!important;
}

#carouselExampleCaptions{
    width: 780px;
    z-index: 0;
}

.cardpromo{
    width: 220px;
    height: 320px;
    background-color: #000000;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 11px double #f5f5f5;
}
.cardimg{
    width: 130px;
    height: 130px;
    opacity: 0;
    transition: 1s;
    border-radius: 10px;
}

#cards{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    color: var(--light);
    background-image: url(imagens/imagem_pentes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    
}



.cardpromo:hover{
    background-color: #0000006c;
    background-image: url(imagens/BarbaNegra.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 61px;
    
}

.cardpromo:hover > .cardimg{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
    
}

.cardpromo:hover > img{
    transition: 0.1s;
}


.cardpromo:hover > .descri{
    display: flex;
    position:  relative;
    transition: 0.1s;
}

.descri{
    display: none;
    transition: 0.1s;
    position: absolute;
}
#bg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.76);
}
#bg1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.76);
}
#barba-corte{
    height: 600px;
    border-radius: 10px;
    width: 200px;

}
#barba-corte1{
    height: 600px;
    border-radius: 10px;
    width: 200px;
    
}
#barba-corte2{
    height: 600px;
    border-radius: 10px;
    width: 200px;

}

.titulocard{
    transition: 0.1s;
    font-size: 20px;
    
}

.cardpromo:hover > .titulocard{
    display: none;
    transition: 0.1s;
}
#td-titulo{
    font-family: 'Pirata One', cursive;
}

#separar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.616);
    background-image: linear-gradient(0deg, rgba(255,252,252,1) 0%, 
        rgba(0,0,0,1) 10%, 
        rgba(0,0,0,1) 50%, 
        rgba(0,0,0,1) 90%, 
        rgba(255,255,255,1) 100%);
    color: whitesmoke;
}

.lista-empresa{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 20px;
}

#lista-deco{
    list-style: none;
    text-decoration: none;
    width: 100%;
}

#filis{
    padding: 5px;
    color: white;
    background-color: #ffffff;
}

#filis > a{
    color: white;
}
#td-titulo > h1 {
    font-size: 50px;
}