@import url(../style.css);
body{
    padding-top: 30px;
    height: 100%;
}

#posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

#principlal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.76);
    width: 100%;
    height: 100vh;
}

#Comentarios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    flex-direction: column;
    width: 30%;
   
    padding-top: 400px;
    height: 70%;
}
.coment{
    width: 50%;
    height: 400px;
    margin: 10px;
    background-color: black;
    color: whitesmoke;
    border: 2px double white;
    border-radius: 10px;
    border-style: double;
}

main{
    background-image: url(../imagens/BarbaNegra.png);
    background-position: center center;
}

.itempost{
    width: 70%;
    border: 2px double black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#postar-coment{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#postar-coment > form > textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#gravar-coment{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 300;
    border: 1px solid white;
    border-style: double;
}
h1{
    padding: 5px;
}
p{
    padding: 5px;
}
