@import url(../style.css);
body{
    padding-top: 30px;
    height: 100%;
}

#posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    width: 70%;
}

#principlal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.76);
}

#Comentarios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    flex-direction: column;
    width: 30%;
    margin: 20px;
    padding-top: 400px;
}
.coment{
    width: 50%;
    height: 400px;
    margin: 10px;
    background-color: black;
    color: whitesmoke;
    border: 2px double white;
    border-radius: 10px;
    border-style: double;
}

main{
    background-image: url(../imagens/BarbaNegra.png);
    background-position: center center;
}

.itempost{
    width: 70%;
    border: 2px double black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#postar-coment{
    display: none;
    width: 100%;
}
#postar-coment > form > textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
}
