@import url(../style.css);


.servico{
    display: flex;
    flex-direction: column;
}

#td-servico-cabelo{
    display: table;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    height: 40%;
    position: relative;
    right: 300px; 
}

#cabelo{
    margin-top: 80px;
    background-image: url(../imagens/cortes-background.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

#corte-titu{
    width: fit-content;
    display: flex;
    position: relative;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}

#background-corte{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.753);
    display: flex;
    flex-direction: column;
}

#bttcorte{
    display: flex;
    position: relative;
    left: 400px;
    bottom: 70px;
    
}

#td-servico-Barba{
    display: table;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    height: 40%;
    position: relative;
    left: 300px; 
}
#background-Barba{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.753);
    display: flex;
    flex-direction: column;
}

#barba{

    background-image: url(../imagens/cortes-background.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#barba-titu{
    width: fit-content;
    display: flex;
    position: relative;
    font-size: 35px;
    font-weight: 500;
}

#bttbarba{
    display: flex;
    position: relative;
    right: 400px;
    bottom: 70px;
}


#background-tratamento{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.753);
    display: flex;
    flex-direction: column;
}

#titu-Tratamentos{
    width: fit-content;
    display: flex;
    position: relative;
    font-size: 35px;
    font-weight: 500;
}

#tratamento{
    background-image: url(../imagens/tratamento-back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

#td-servico-tratamento{
    display: table;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    height: 40%;
    position: relative;
    right: 300px; 
}
#btttratamento{
    display: flex;
    position: relative;
    left: 400px;
    bottom: 70px;
}

.butao{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 300;
    border: 1px solid white;
    border-style: double;
}
#marcar-Hora{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hora-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#marcou-sercico{
    padding: 5px;
    border-radius: 5px;
}

#modal-mar-hora{
    display: none;
}
